<%= simple_form_for @marine_animal do |l| %>
    <%= l.input :species , label: 'Species', input_html: {maxlength:20} %>
    <%= l.input :weight, label: 'Weight(kg)'%>
    <%= l.input :age, label: 'Age' , hint: 'hint: blah blah' %>

    <% if controller.action_name == 'new' || controller.action_name == 'edit' %>
        <%=
        #l.input :lake_id, label: 'Lake', collection: Lake.all, as: :select
        l.association :lake
        %>
    <% end %>

    <%= l.button :submit %>

    <% if @marine_animal.errors.any? %>
        <div class = "hint">
          <ul>
            <% @marine_animal.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

<% end %>