<h1>Marine animals page</h1>

<% if @lake %>
    <h2>Lake: <%= @lake %></h2>
<% end %>
<% if @species %>
    <h2>Species: <%= @species %></h2>
<% end %>

<table>
  <tr>
    <th>id</th>
    <th>Species</th>
    <th>Weight(kg)</th>
    <th>Age</th>
    <% if params.has_key?(:lake_id) == false  %>
        <th>Lake</th>
    <% end %>
    <th>Owner</th>
  </tr>

  <%= puts @marine_animals_to_list.inspect %>

  <% @marine_animals_to_list.each do |f|%>
      <tr>
        <td><%= f.id %></td>
        <td><%= f.species %></td>
        <td><%= f.weight %></td>
        <td><%= f.age %></td>
        <% if params.has_key?(:lake_id) == false%>

            <% if f.has_attribute?(:lake_id) && f.lake %>
                <td><%= f.lake.name %></td>
            <% else %>
               <td>"N/A"</td>
            <% end %>

        <% end %>
        <td><%= f.user.email %></td>
        <td><%= link_to "edit", edit_marine_animal_path(f) %></td>
        <td><%= link_to "delete", marine_animal_path(f), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<%= link_to "home", root_path %>
<br>
<% if params.has_key?(:lake_id)%>
    <%= link_to "Back to lake", lake_path(params[:lake_id]) %>
<% end %>