<h1>Fish information</h1>

<p>
  <strong>Species:</strong>
  <%= @marine_animal.species %>
</p>

<p>
  <strong>Weight(kg):</strong>
  <%= @marine_animal.weight %>
</p>

<p>
  <strong>Age:</strong>
  <%= @marine_animal.age %>
</p>

<p>
  <strong>Lake:</strong>
  <% if @marine_animal.lake %>
    <%= @marine_animal.lake.name %>
  <% else %>
    Not in a lake.
  <% end %>
</p>