<h1>Fishery Sim</h1>

<h2>Pages</h2>
Show all lakes:
<%= link_to 'Browse all lakes', lakes_path %>
<br>
Create new lake: <%= link_to 'Create new lake', new_lake_path %>

<br><br>
Show all marine animals: <%= link_to "Browse all marine animals", marine_animals_path %>
<br>
Create new marine animal: <%= link_to "Create new marine animal", new_marine_animal_path %>
<br><br>
Display email of all users: <%= link_to "List all users", users_path %>


<h2>Info</h2>

<strong>Lakes</strong> have a size and density. A lake can hold many marine animals. <br>

A <strong>Marine animal(fish)</strong> has a weight and age. A fish may belong to a lake, but it doesn't have to.