<%= simple_form_for @lake do |l| %>
    <%= l.input :name , label: 'Lake name', input_html: {maxlength:20} %>
    <%= l.input :size, label: 'Lake size'%>
    <%= l.input :fish_density, collection: ["low", "medium", "high"] , as: :select %>
    <%= l.button :submit %>

    <% if @lake.errors.any? %>
        <div class = "hint">
          <ul>
            <% @lake.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
<% end %>