<h1>List of <%= @species %> in <%= @lake.name %></h1>

    <table>
      <tr>
        <th>id</th>
        <th>weight</th>
        <th>Age</th>
      </tr>
      <% @fishes_info.each do |f| %>
          <tr>
            <td><%= f.id %></td>
            <td><%= f.weight %></td>
            <td><%= f.age %></td>
          </tr>
      <% end %>
    </table>
