<h1>List of all lakes:</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Size</th>
    <th>Density</th>
    <th>Owner</th>
  </tr>

  <% Lake.all.each do |l|%>
      <tr>
        <td><%= link_to l.name, lake_path(l) %></td>
        <td><%= l.size %></td>
        <td><%= l.fish_density %></td>
        <td><%= l.user.email %></td>
        <td><%= link_to "edit", edit_lake_path(l) %></td>
        <td><%= link_to "delete", lake_path(l), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<%= link_to "back", root_path %>

