<h1>Lake information</h1>

<p>
  <strong>Name:</strong>
  <%= @lake.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @lake.size %>
</p>

<p>
  <strong>Density:</strong>
  <%= @lake.fish_density %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @lake.user.email %>
</p>

<h2>Fishes:</h2>
    <% if @lake.marine_animals.size == 0 %>
        <em>No fishes in this lake</em>
    <% else %>
        <table>
          <tr>
            <th>Species</th>
            <th>Count</th>
          </tr>
            <% @fishes_info.each do |f| %>
              <tr>
                <td><%= f[0] %></td>
                <td><%= f[1] %></td>
                <td><%= link_to "more detail", lake_marine_animals_path(@lake[:id], species: f[0]) %></td>
              </tr>
            <% end %>
        </table>
    <% end %>

<h2>Add fish to lake:</h2>
<%= simple_form_for([@lake, @lake.marine_animals.build]) do |f| %>
    <%= f.input :species , label: 'Species', input_html: {maxlength:20} %>
    <%= f.input :weight, label: 'Weight(kg)'%>
    <%= f.input :age, label: 'Age' %>
    <%= f.button :submit %>

    <% if flash[:errors] && !flash[:errors].empty? %>
        <div class = "hint">
          <%= flash[:errors].inspect %>
        </div>
    <% end %>
<% end %>